.cart-list {
  .delete-item {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
    z-index: 2;
    text-decoration: none;
    i {
      color: $dark-gray;
    }
  }
}
.order-details {
  color: white;
  background: $pelorous;
  width: 80%;
  font-size: 14px;
  margin: 5px 0;
  border-radius: 5px;
  text-align: left;
  padding: 5px 10px;

}