.experience {

  h1 {
    color: $sycamore;
  }
  a {
    color: $sycamore;
  }
  a.btn.btn-primary {
    color: white;
    background: $sycamore;
    border-color: $sycamore;
  }
  .highlight {
    color: $sycamore;
  }

  .main-header {
    &.main-header-marketplace {
      &:after {
        background: rgba($sycamore, 0.35);
      }
    }
  }
  .skewed {
    @include skewed($sycamore, 40px);
  }
  .nav-icon {
    color: $sycamore;
    .icon-email {
      color: #e5397a;
}
  }

  .main-menu {
    a {
      color: $sycamore;
    }
  }

  .home-footer {
    background: $pelorous;
    z-index: 1;
  }
  .btn-white {
    color: $pelorous;
  }

  .menu-mobile-handle, .menu-mobile-close {
    background: $sycamore;
  }
  .menu-mobile {
    .top-menu {
      background: $tana;
    }
    .user-menu {
      a {
        color: $sycamore;
      }
    }
    .primary-menu {
      background: $sycamore;
      a {
        @media screen and (max-width: $break-sm) { 
          border-color: rgba($dolly, 0.35);
        }
      }
    }
  }
  .footer {

    &.footer-marketplace:after {
      background: rgba($sycamore, 0.35);
    }
    a {
      color: $black;
    }
  }

  .sidebar {
    background: rgba($sycamore, 0.3);
  }
  .opus-wrapper [class^="icon"] {
    color: $sycamore;
  }

  a.btn.btn-primary, .btn.btn-primary {
    color: white;
    background: $sycamore;
    border-color: $sycamore;
  }

  .drop-content {
    background: $sycamore;
  }
  .opus-sorting {
    a {
      color: $black;
      &:hover {
        color: $sycamore;
      }
      &.active {
        color: $sycamore;
      }
    }
  }

  .order-details {
    background: $sycamore;
  }
}

.link-sm {
  // background: red;
  font-size: 13px !important;
  padding-left: 15px !important;
}

.experience .drop .drop-header {
  background: darken($sycamore, 10%);
}