$black:       #333;
$light-gray:  #EEEEEE;
$mid-gray:    #DBDBDB;
$dark-gray:   #868686;

$regent-blue: #9AD5E3;
$pelorous:    #34A2BD;

$sycamore:    #8d9c40;
$tana:        #D6DBBB;
$dolly:       #ffff80;

$wattle:      #D7C440;

$woodybrown:  #432C36;

$overlay:     $woodybrown;

$mongoose:    #BAAA85;

$pink: #E5397A;


$border-blue: #bce8f1;
$top-gradient: #d8ecf7;
$bottom-gradient: #c3e4f3;


$default-radius: 5px;
$facet-height: 104px;

$break-sm: 768px;
$break-md: 991px;

a {
  color: $pelorous;
}