body {
  background: image_url('facets.png') top center repeat;
}

.main-header {
  padding: 0;
  [class^="icon"] {
    position: relative;
    top: 2px;
  }
  .logo {
    margin-top: -30px;
    &.logo-sd {
      margin: 50px 0 20px;
    }
  }
  &.main-header-marketplace {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba($regent-blue, 0.35);
      z-index: -1;
    }
  }
  .navigation {
    margin-top: 35px;
  }
  .skewed {
    color: white;
    padding: 10px;
    vertical-align: top;
    text-decoration: none;

    font-size: 15px;
    @include skewed($pelorous, 40px);
    .icon-caret-down {
      top: 2px;
      position: relative;
      margin-left: 5px;
    }
  }

  .nav-link {
    font-size: 15px;
    padding: 0 20px;
    color: $black;
    line-height: 40px;

  }
  .nav-icon {
    color: $pelorous;
    font-size: 21px;
    padding: 2px 4px;
    text-decoration: none;
    position: relative;
    top: 5px;
    .icon-email {
      color: #ffff80;
    }
  }

  .nav-dive {
    width: 41px;
    height: 30px;
  }

  .main-menu {
    margin-top: 48px;
    font-size: 18px;
    @include skewed(white, 50px);
    a {
      padding: 0 15px;
      color: $pelorous;
    }
    .dropdown-menu {
      font-size: 18px;
    }
  }


  // responsive menu
  .menu-mobile-handle, .menu-mobile-close {
    background: $pelorous;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    font-size: 22px;
    line-height: 44px;
    text-align: center;
    display: block;
    text-decoration: none;
  }

  .menu-mobile-close {
    z-index: 200;
  }

  .menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transform: translateY(-100%);
    transition: all 200ms ease-in;
    background: rgba($overlay, 0.7);
    &.open {
      transform: translateY(0%);
    }

    .top-menu {
      background: $regent-blue;
      a {
        line-height: 44px;
        height: 44px;
        display: inline-block;
        &.nav-link {
          font-size: 13px;
          padding: 0 10px;
        }
        &.nav-icon {
          top: -2px;
        }
      }
    }
    .user-menu {
      background: white;
      hr {
        margin: 0;
      }
      p {
        padding: 10px 0 0;
      }
      a {
        color: $pelorous;
        display: inline-block;
        height: 34px;
        line-height: 1,5;
        padding: 10px 0;
      }
    }
    .primary-menu {
      background: $pelorous;
      a {
        color: white;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        padding: 0 20px;
        @media screen and (max-width: $break-sm) { 
          display: block;
          text-align: center;
          border-bottom: 1px solid $regent-blue;
          padding: 0;
        }
      }
    }
  }
}

.main-container {
  background: white;
  padding-bottom: 20px;
  &.nobackground {
    background: none;
    border-top: 4px solid white;
  }
}
.well {
  border: none;
  box-shadow: none;
}

/*
  footer
*/
.footer {
  padding: 15px 0;
  font-size: 15px;
  color: $black;
  &.footer-marketplace {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba($regent-blue, 0.35);
      z-index: -1;
    }
    .container {
      div {
        padding: 10px 0
      }
    }
  }
  a {
    color: $black;
    display: inline-block;
    padding: 0 15px;
  }
}
.layout-with-footer-fixed-bottom {
  padding-bottom: 300px;
  .footer-container {
    left: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
  }
}

/*
  dropdown 
*/

$drop-unit: 40px;
.drop {
  margin-left: -1px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  .drop-wrapper {
    display: none;
    position: absolute;
    z-index: 999;
    top: 100%;
    width: 450px;
    right: -20px;
  }
  &.drop-open .drop-wrapper {
    display: block;
  }
  .drop-header {
    background: darken($pelorous, 10%);
    color: white;
    text-align: right;
    height: $drop-unit;
    line-height: $drop-unit;
    a {
      color: white;
      padding: 0 10px;
      text-decoration: none;
    }
  }
  .drop-content {
    background: $pelorous;
    padding: 10px;
    a, .drop-subtitle {
      color: white;
      text-decoration: none;
      display: block;
      margin: 12px 20px;  
      font-size: 14px;
    }
    .drop-subtitle {
      color: white;
    }
  }
}

.icon-user {
  margin-right: 4px;
  &:before {
    content: '';
    background-image: image_url('icon-user-light.png');
    background-size: 28px 25px;
    display: inline-block;
    width: 28px;
    height: 25px;
  }
}

.menu-mobile .icon-user {
  &:before {
    background-image: image_url('icon-user-dark.png');
  }
}

/* search bar */
.search-bar {
  padding: 5px;
  background: white;
  input {
    border-radius: 5px;
    border: none;
    padding: 8px;
    font-size: 14px;
    display: block;
    width: 100%;
    border: 1px solid $mid-gray;
    margin: 5px 0 1px;
  }
  .container {
    position: relative;
  }
  [class^="icon"] {
    position: absolute;
    right: 20px;
    top: 16px;
  }

  @media screen and (max-width: $break-md) { 
    background: none;
    position: relative;
    [class^="icon"] {
      top: 20px;
      right: 10px;
    }
  }
}

.sidebar {
  background: rgba($pelorous, 0.3);
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-container-editor {
  .sidebar {
    background: rgba($black, 0.1);
  }
}

.btn.btn-primary {
  background: $pelorous;
  border-color: $pelorous;
}

.breadcrumb {
  padding: 40px 0;
  background: transparent;
  font-size: 15px;
}

.opus-pagination {
  margin: 20px 0;
  span, a {
    padding: 8px 14px;
    display: inline-block;
    margin-right: 10px;
    font-size: 18px;
  }
  a {
    background: white;
    border: 1px solid $mid-gray;
    border-radius: 3px;
  }
}

.opus-sorting {
  font-size: 15px;
  margin: 10px 0 40px;
  a {
    margin-right: 10px;
    color: $black;
    white-space: nowrap;
    &:hover {
      color: $pelorous;
    }
    &.active {
      color: $pelorous;
    }
  }
}

td {
  position:relative;
}
.abs-right {
  position: absolute;
  right: 8px;
  top: 10px;
}

.highlight {
  color: $pelorous;
}

.loved {
  color: $pink !important;
}

.media-coverage {
  h2 {
    margin-top: 0;
  }
}
.date-published {
  font-size: 14px;
}
.post {
  margin: 60px 0;
}

.page-post-logos {
  margin-top: 0;
  margin-bottom: 0;
  a {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    img {
      width: 100%;
    }
  }
}

.btn-thin {
  padding: 0 10px 2px;
}

a.inscription {
  font-size: 18px;
  color: #34a2bd;
}

a.black {
  color: #333 !important;
}

.panel-group {
  margin-top: 40px;
}
